//CSS-PAGINA PRINCIPAL
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 750px;
    border: 1px solid black;
    padding: 50px;
}
.boton-cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 20%;
    min-height: 150px;
    button {
        height: 150px;
        width: 100%;
    }
}
.boton-vendedor {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 20%;
    min-height: 150px;
    button {
        height: 150px;
        width: 100%;
    }
}
.boton-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 20%;
    min-height: 150px;
    button {
        height: 150px;
        width: 100%;
    }
}

a {
    width: 100%;
}
//CSS PAGINA CLIENTE
.formulario-registro-cliente {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: auto;
    /*     border: 1px solid black;
 */
    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: auto;
        border: 1px solid rgb(158, 98, 98);
        padding: 20px;
        label {
            font-size: 1.2em;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        input {
            width: 100%;
            font-size: 1.1em;
            margin-bottom: 10px;
            margin-top: 10px;
            height: 30px;
        }
        input[type="submit"] {
            margin-top: 30px;
        }
        button {
            width: 100%;
            height: 50px;
        }
    }
}
.keylogger-cliente {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    height: auto;
    margin-left: 100px;
    button {
        height: 50px;
    }
    /*     border: 1px solid black;
 */
    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: auto;
        height: auto;
        border: 1px solid rgb(158, 98, 98);
        padding: 50px;
        label {
            font-size: 1.5em;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        input {
            width: 100%;
            font-size: 1.2em;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        button {
            height: 50px;
        }
    }
}
.boton-acceder {
    /*     display: flex; */
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.success-small {
    color: green;
    border-color: green;
}
.error-small {
    color: red;
    border-color: red;
}
.valid-input {
    color: green;
    border-color: green;
}
.error-input {
    color: red;
    border-color: red;
}
p {
    margin: 0px;
}
table {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0px;

    tr {
        display: flex;
        justify-content: flex-start;
        border: 1px solid black;
        width: 100%;
        th {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
        td {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin: 0px;
        }
    }
}
tbody {
    width: 100%;
}
.modal-dialog {
    min-width: 80%;
}
.modal-content {
    width: auto;
}
